@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color-dark: #0b1625;
  --text-color-dark: #ffffff;
}


body {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}
